<IfModule mod_headers.c>
    <FilesMatch "\.(txt|json)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>

    <FilesMatch "\.(gitignore|gitattributes|htaccess)$">
    Deny from all
</FilesMatch>
</IfModule>

RedirectMatch 403 /\.git

# Semi-temporary fix for "old" versions of mainos with old repo path. As of August 2024, this is still used in the current released MainOS version
RedirectMatch 301 /projects/MainOS/server/(.*) https://mainos.maingron.com/repo/$1
